/* 适配 类iPhoneX屏幕的底部横条 */
@mixin fit-safe-area-bottom {
	padding-bottom: constant(safe-area-inset-bottom); /*兼容 iOS<11.2*/
	padding-bottom: env(safe-area-inset-bottom); /*兼容 iOS>11.2*/
}
@mixin fit-safe-area-left {
	padding-left: constant(safe-area-inset-bottom); /*兼容 iOS<11.2*/
	padding-left: env(safe-area-inset-bottom); /*兼容 iOS>11.2*/
}
@mixin fit-safe-area-right {
	padding-right: constant(safe-area-inset-bottom); /*兼容 iOS<11.2*/
	padding-right: env(safe-area-inset-bottom); /*兼容 iOS>11.2*/
}