/*
 * 使用方式:
 * @include oneline;
 * @include flex-row();
 */
/* flex横向 */
@mixin flex-row($justifyContent: flex-start, $alignItems: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

/* flex纵向 */
@mixin flex-col($justifyContent: flex-start, $alignItems: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justifyContent;
  align-items: $alignItems;
}